<strong>Recovering Password</strong>

<p>A password recovery request has been sent to the email  ({{ email }})</p>

<p>To continue with password recovery, use the Token {{ token }} or click on the link bellow</p>

<p><a href="{{ link }}">[Reset Password]</a> </p>
